<%inherit file="/admin/base.html"/>

<a href="/admin/event/add">Add Event</a>

<div>
    <span>Events:</span>
    % for event_data in event_datas:
        <span>
            <a href="/admin/event/update/${event_data.get('_hash')}">
                ${event_data.get('name')}
            </a>
        </span>
        <div>
            % for gift_data in o.Gift.iter_relatives_data(event_data):
                <span>${gift_data.get('name')}</span>
            % endfor
        </div>
    % endfor
</div>


